<ion-header>
  <ion-navbar>
    <ion-grid>
        <ion-row>
          <ion-col col-8>
            <ion-title>{{ language['GroceryList'] }}</ion-title>
          </ion-col>
          <ion-col col-2>
            <button ion-button block solid color="secondary" (click)="OpenListPickerModal()"><ion-icon name="folder-open"></ion-icon></button>
          </ion-col>
          <ion-col col-2>
              <button ion-button block solid color="secondary" (click)="ShowSaveListToFileAlert()"><ion-icon name="arrow-round-down"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-input type="text" color="primary" (ionInput)="searchFilter($event)" pattern="^[a-zA-Z0-9_.-]*$" placeholder="filter"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <button ion-button block solid color="secondary" (click)="AddNewItem()">{{ language['AddProduct'] }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list *ngFor="let product of products">
    <div *ngIf="!product.Deleted">
      <ion-row (click)="ToggleCollapse(product)">
        <ion-col col-7>
          <ion-item>
            <ion-label color="primary" floating>{{ language['Product'] }}</ion-label>
            <ion-input type="text" [(ngModel)]="product.Name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-5>
          <ion-item>
              <ion-label color="primary" floating class="smallText">{{ language['Quantity'] }}</ion-label>
              <ion-input type="number" [(ngModel)]="product.Quantity"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="product.Colapsed">   
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary" floating>{{ language['Price'] }} €</ion-label>
            <ion-input type="number"  [(ngModel)]="product.Price"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary" floating class="smallText">{{ language['Discount'] }} %</ion-label>
            <ion-input type="number" [(ngModel)]="product.Discount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="product.Colapsed">
        <ion-col col-12>
          <ion-item class="full-height">
            <ion-label color="primary">{{ language['TotalPriceProduct'] }}: {{ CalculatePrice(product) | number:'1.2-2'}} €</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="product.Colapsed">
        <ion-col col-12>
          <ion-item style="height: 44px">
            <button ion-button block solid color="danger" (click)="WarningDeleteProduct(product)" >{{ language['Delete'] }}</button>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label color="primary" >{{ language['Total'] }}:</ion-label>
              <ion-label>{{ totalPrice | number:'1.2-2'}} €</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button block solid color="secondary" (click)="UpdateList()"><ion-icon name="refresh"></ion-icon></button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block solid color="danger" (click)="WarningClearAllProducts()">{{ language['ClearAll'] }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-toolbar>
</ion-footer>