<ion-header>
    <ion-navbar>
        <ion-title>{{ Globals.SavedLists }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
            <button ion-button full *ngFor="let list of arrayList; let i = index" [attr.data]="i" [color]="CheckIfSelected(i)" (click)="SelectRow(i)">{{ list }}</button>
    <ion-list *ngIf="arrayList.length == 0">
        <ion-item>
            <ion-label>No Lists Available</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <button ion-button block color="secondary" (click)="LoadList()">Load</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <button ion-button block color="primary" (click)="RenameList()">Rename</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <button ion-button block color="danger" (click)="DeleteFile()">Delete</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <button ion-button block color="light" (click)="CloseModal()">Close</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>